#header{
	height: 140px;
}
.container {
	margin:0 auto;
	width: 1200px;

	.system-block {
		display: flex;
		justify-content: space-between;
		height: 65px;
		.logo {
			line-height: 65px;
		}
		.location {
			line-height: 100px;
		}
		.util {
			line-height: 65px;
		}
	}

	.gnb-block {
		display: flex;
		justify-content: space-between;

		.gnb {
			ul {
				display: flex;
				list-style: none;

				li:first-child {
					padding:0 65px 0 0;
				}

				li {
					padding:0 65px;
					line-height: 54px;

					a {
						text-decoration: none;
						color:#111;
						font-size: 18px;
						position: relative;
					}
					a::before {
						content: '';
						position: absolute;
						height: 2px;
						width: 0;
						bottom: -10px;
						transition: 0.5s;
						left: 50%;
						transform: translateX(-50%);
						color:#111;
					}
					a:hover::before{
						width:100%;
						background:#111;
					}
				}
			}
		}
		.view-more {
			line-height: 100px;
			a {
				font-size: 18px;
				text-decoration: none;
				color: #111;
				#togglebtn {
					transition: all 0.25s ease;
				}
				#togglebtn.active {
					transform: rotate(180deg);
				}
			}
		}
		.toggle-menu{
			display: none;
			width: 100%;
			height: 200px;
			position: absolute;
			top: 140px;
			left: 0;
			background: #fff;
			z-index: 200;
			border-top: 1px solid #f4f4f4;
		}
	}


	.util {

		ul {
			width: 200px;
			display: flex;
			justify-content: space-between;
			list-style: none;

			li {
				a {
					text-decoration: none;
					color: #111;
					font-size: 14px;
					font-weight: bold;
				}


				select {
					border:1px solid #989898;
					border-radius: 15px;
					height: 30px;
					outline: none;
				}
			}
		}

	}

	.location{
		border-bottom: 1px solid #111;
		i {
			color: #989898;
		}
		a {
			text-decoration: none;
			font-family: Noto Sans;
			font-size: 14px;
			font-weight: bold;
			color:#111;
		}
	}
}
#main {
	.sec-mainslider {
		.swiper-wrapper {

		}

		.navigation {
			button {
				width: 0;
				height: 0;
				font-size: 0;
				background: transparent;
				border: 0;
			}
			.arrows.prev::after{
				content: '';
				width: 50px;
				height: 50px;
				border-top: 1px solid #989898;
				border-right: 1px solid #989898;
				transform: rotate(225deg);
				position: absolute;
				top: 400px;
				z-index: 100;
				left: 50px;
				cursor: pointer;
			}
			.arrows.next::after{
				content: '';
				width: 50px;
				height: 50px;
				border-top: 1px solid #989898;
				border-right: 1px solid #989898;
				transform: rotate(45deg);
				position: absolute;
				top: 400px;
				right: 50px;
				z-index: 100;
				cursor: pointer;
			}
		}

		.orderWrapper {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			padding: 40px 0 80px 0;

			.delivery {
				cursor: pointer;

				.logo {
					background: url('../images/order1.PNG') no-repeat;
					background-size: 50px;
					width: 50px;
					height: 50px;
				}
				.title {
					font-size: 42px;
					color: #ff143c;
				}

				.subtitle {
					font-size: 15px;
					color: #989898;
					margin-top: 20px;
				}
			}

			.takeout {
				cursor: pointer;

				.logo {
					background: url('../images/order2.PNG') no-repeat;
					background-size: 50px;
					width: 50px;
					height: 50px;
				}
				.title {
					font-size: 42px;
					color: #1382ff;
				}

				.subtitle {
					font-size: 15px;
					color: #989898;
					margin-top: 20px;
				}
			}

			.quick {
				cursor: pointer;

				.logo {
					background: url('../images/order3.PNG') no-repeat;
					background-size: 50px;
					width: 50px;
					height: 50px;
				}
				.title {
					font-size: 42px;
					color: #000;
				}

				.subtitle {
					font-size: 15px;
					color: #989898;
					margin-top: 20px;
				}
			}
		}


	}
	.sec-eventslider {

		.eventWrapper {
			background: #f6f6f6;
			display: flex;
			padding: 100px 200px;
			position: relative;

			.textWrapper {
				width: 55%;

				.msg {
					font-size: 28px;
					font-weight: 500;
					color: #000;

					.special {
						font-weight: 700;
						color: #238ece;
					}
				}
				button {
					border: none;
					background: #333;
					border-radius: 20px;
					padding: 10px 20px;
					margin-top: 30px;
					cursor: pointer;
					a {
						color: #fff;
						text-decoration: none;
						display: inline-block;
						width: 100%;
						height: 100%;
					}
				}
			}

			.eventslider {
				width: 100%;
			}

			.navigation {

				button {
					width: 0;
					height: 0;
					font-size: 0;
					background: transparent;
					border: 0;
				}

				.arrows.prev::after{
					content: '';
					width: 30px;
					height: 30px;
					border-top: 1px solid #989898;
					border-right: 1px solid #989898;
					transform: rotate(225deg);
					position: absolute;
					top: 180px;
					z-index: 100;
					left: 530px;
					cursor: pointer;
				}

				.arrows.next::after{
					content: '';
					width: 30px;
					height: 30px;
					border-top: 1px solid #989898;
					border-right: 1px solid #989898;
					transform: rotate(45deg);
					position: absolute;
					top: 180px;
					right: 160px;
					z-index: 100;
					cursor: pointer;
				}
			}

		}
	}
	.sec-servicecards {
		padding: 100px 265px;

		.cardWrapper {
			display: flex;

			.card01 {
				width: calc(100% / 3);
				margin-right: 30px;

				.image {
					background: url('../images/event01.jpg') no-repeat;
					background-size: 324px;
					width: 324px;
					height: 300px;
				}

				.textWrapper {
					border: 1px solid #ccc;
					border-top: none;
					padding: 20px 0;
					.title {
						font-size: 18px;
						color: #333;
						text-align: center;
					}
					.subtitle {
						font-size: 15px;
						color: #989898;
						text-align: center;
					}
				}
			}
			.card02 {
				width: calc(100% / 3);
				margin-right: 30px;

				.image {
					background: url('../images/event02.jpg') no-repeat;
					background-size: 324px;
					width: 324px;
					height: 300px;
				}

				.textWrapper {
					border: 1px solid #ccc;
					border-top: none;
					padding: 20px 0;
					.title {
						font-size: 18px;
						color: #333;
						text-align: center;
					}
					.subtitle {
						font-size: 15px;
						color: #989898;
						text-align: center;
					}
				}
			}
			.card03 {
				width: calc(100% / 3);

				.image {
					background: url('../images/event03.jpg') no-repeat;
					background-size: 324px;
					width: 324px;
					height: 300px;
				}

				.textWrapper {
					border: 1px solid #ccc;
					border-top: none;
					padding: 20px 0;
					.title {
						font-size: 18px;
						color: #333;
						text-align: center;
					}
					.subtitle {
						font-size: 15px;
						color: #989898;
						text-align: center;
					}
				}
			}
		}
	}
}
